{% extends 'adminTemplates/base.html' %}
{% load static %}

{% block content %}

{% if messages %}
 
    {% for message in messages %}
    {% if message.tags == 'success' %}

    <script>
        console.log('{{message}}')
        Swal.fire({
        position: "center",
        icon: "success",
        title: "{{message}}",
        showConfirmButton: false,
        timer: 1500
        });
    </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <script>
   
        Swal.fire({
        position: "center",
        icon: "error",
        title: "{{message}}",
        showConfirmButton: false,
        timer: 2000
        });
    </script>
    {% endif %}
    {% endfor %}

{% endif %}

<div>   
    
            <div style="margin: 10px;">
                <div class="container-fixed">
                    <div class="grid gap-5 lg:gap-7.5">
                        <div class="card card-grid min-w-full">
                            <div class="card-header py-5 flex-wrap">
                                <h3 class="card-title">
                                    Payment Details
                     
                                </h3>
                                <div class="flex gap-6">
                                    <div class="relative">
                                        <i class="ki-outline ki-magnifier leading-none text-md text-gray-500 absolute top-1/2 left-0 -translate-y-1/2 ml-3"></i>
                                        <input class="input input-sm pl-8" onkeyup="filterTableTypePayment()" placeholder="Search" id="searchPayment" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div data-datatable="true" data-datatable-page-size="5">
                                    <div class="scrollable-x-auto">
                                        <table class="table table-auto table-border" data-datatable-table="true" id="payment_table">
                                            <thead>
                                                <tr>
                                                    
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pickup</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">drop</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Ride Type</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Total fare</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment Status</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pending Payment Status</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <!-- <th></th> -->
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pending Payment</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pending Payment Type</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment Type</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment Date</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pending Payment Date</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment RazorPayment Id</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Pending Payment RazorPayment Id</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Advance Payment Percent</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    <th class="w-[80px]">
                                                        <span class="sort asc">
                                                            <span class="sort-label">Customer Name</span>
                                                            <span class="sort-icon"></span>
                                                        </span>
                                                    </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for payment in payments %}
                                                    
                                                        <tr>
                                                            

                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.ride.route.pickup_location }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.ride.route.drop_location }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.ride.route.trip_type }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.total_fare }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_payment_status }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.pending_payment_status }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_payment }} </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.pending_payment }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_payment_type }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.pending_paymeny_Type }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_payment_date }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.pending_payment_date }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_razorpay_payment_id }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.pending_razorpay_payment_id }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">{{ payment.advance_payment_percent }}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            
                                                            
                                                            <td title="{{ payment.driver.email }}">
                                                                <div class="flex items-center gap-2.5">
                                                                    <div class="flex flex-col gap-0.5">
                                                                        <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary">
                                                                            {{ payment.ride.customer.first_name }} {{ payment.ride.customer.last_name }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            
                                                        </tr>
                                                        
                                                   
                                                      
                                             
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
                                        <div class="flex items-center gap-2">
                                            Show
                                            <select class="select select-sm w-16" data-datatable-size="true" name="perpage"></select>
                                            per page
                                        </div>
                                        <div class="flex items-center gap-4">
                                            <span data-datatable-info="true"></span>
                                            <div class="pagination" data-datatable-pagination="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</div>
<script>

function filterTableTypePayment() {
    // Get the value of the input field
    var input = document.getElementById('searchPayment');
    var filter = input.value.toUpperCase();
    var table = document.getElementById('payment_table');
    var tr = table.getElementsByTagName('tr');
    
    // Loop through all table rows
    for (var i = 1; i < tr.length; i++) {
        var td = tr[i].getElementsByTagName('td');
        var rowContainsFilter = false;

        // Loop through all cells in the current row
        for (var j = 0; j < td.length; j++) {
            var cell = td[j];
            if (cell) {
                var txtValue = cell.textContent || cell.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    rowContainsFilter = true;
                    break; // No need to check further cells if one matches
                }
            }
        }

        // Display or hide the row based on whether it contains the filter text
        if (rowContainsFilter) {
            tr[i].style.display = '';
        } else {
            tr[i].style.display = 'none';
        }
    }
}

</script>
{% endblock %}